
<div class="dashboard">
  <h1>Панель управления</h1>
  <p>Directives gives us template, scope bindings, bindToController, link and many other things. The usage of these
    should be carefully considered now .component() exists. Directives should not declare templates and controllers
    anymore, or receive data through bindings. Directives should be used solely for decorating the DOM. By this, it
    means extending existing HTML - created with .component(). In a simple sense, if you need custom DOM events/APIs and
    logic, use a Directive and bind it to a template inside a component. If you need a sensible amount of DOM
    manipulation, there is also the $postLink lifecycle hook to consider, however this is not a place to migrate all
    your DOM manipulation to, use a Directive if you can for non-Angular things.</p>
</div>

