<div class="container">
  <form class="form">
    <h2>Объект капитального строительства</h2>

    <div class="form-group">
      <label>Наименование и адрес</label>
      <input class="input-control" name="" type="text"
        placeholder="наименование, почтовый или строительный адрес объекта капитального строительства"
        size="150"
        value="Развитие Московского авиационного узла. Строительство комплекса новой взлетно-посадочной полосы (ВПП-3) Международного аэропорта Шереметьево, Московская область">
    </div>

    <fieldset><legend> <h2>Участники (организации, подписанты)</h2></legend>

      <p><label>Тип организации
        <input list="type-company" size="150">
        <datalist id="type-company">
          <option value="Застройщик или технический заказчик">
          <option value="Лицо, осуществляющее строительство">
          <option value="Лицо, осуществляющее подготовку проектной документации">
          <option value="Лицо, выполнившее работы, подлежащие освидетельствованию">
        </datalist>
      </label></p>
      <p><label>ОГРН
        <input
          name=""
          placeholder="ОГРН организации"
          type="text"
          size="150"
          value="1027714007089">
      </label></p>
      <p><label>ИНН
        <input
          name=""
          placeholder="ИНН организации"
          type="text"
          size="150"
          value="7714276906">
      </label></p>
      <p><label>Номер свидетельства о допуске
        <input
          name=""
          placeholder="Номер свидетельства о допуске к видам работ по строительству, реконструкции, капитальному ремонту объектов капитального строительства, которые оказывают влияние на безопасность объектов капитального строительства"
          type="text"
          size="70"
          value="0395.05-2010-7714276906-С-017">
      </label></p>
      <p><label>Дата выдачи свидетельства
        <input
          name=""
          placeholder="Дата выдачи свидетельства"
          type="text"
          size="150"
          value="25.03.2011 г.">
      </label></p>
      <p><label>Наименование саморегулируемой организации выдавшей свидетельство
        <input
          name=""
          placeholder="Наименование саморегулируемой организации выдавшей свидетельство"
          type="text"
          size="75"
          value="Некоммерческое Партнерство Cаморегулируемая организация Межрегиональное объединение строителей">
      </label></p>
      </label></p>
      <p><label>Почтовые реквизиты саморегулируемой организации выдавшей свидетельство
        <input
          name=""
          placeholder="Почтовые реквизиты саморегулируемой организации выдавшей свидетельство"
          type="text"
          size="75"
          value="125171, г.Москва, 5-й Войковский проезд, д.28">
      </label></p>
      <p><label>Фамилия, имя, отчество физ.лица выдавшего свидетельство
        <input
          name=""
          placeholder="Фамилия, имя, отчество физ.лица выдавшего свидетельство"
          type="text"
          size="75"
          value="Фамилия, имя, отчество физ.лица выдавшего свидетельство">
      </label></p>
      <p><label>Паспортные данные физ.лица выдавшего свидетельство
        <input
          name=""
          placeholder="Паспортные данные физ.лица выдавшего свидетельство"
          type="text"
          size="75"
          value="Паспортные данные физ.лица выдавшего свидетельство">
      </label></p>
      <p><label>Место проживания физ.лица выдавшего свидетельство
        <input
          name=""
          placeholder="Место проживания физ.лица выдавшего свидетельство"
          type="text"
          size="75"
          value="Место проживания физ.лица выдавшего свидетельство">
      </label></p>
      <p><label>Телефон/факс саморегулируемой организации/физ.лица выдавшей/выдавшего свидетельство
        <input
          name=""
          placeholder="Телефон/факс саморегулируемой организации/физ.лица выдавшей/выдавшего свидетельство"
          type="text"
          size="75"
          value="8(495)123-45-67">
      </label></p>
      <fieldset><legend><h3>Представители</h3></legend>
        <p><label>Тип представителя
          <input list="type-people" size="150">
          <datalist id="type-people">
            <option value="Производитель работ">
            <option value="Строительный контроль">
            <option value="Авторский контроль">
          </datalist>
        </label></p>
        <p><label>Должность
          <input
            name=""
            placeholder="Должность"
            type="text"
            size="150"
            value="Ведущий специалист-инженер строительного контроля Подразделения в г.Москва Оперативно-распорядительного управления Службы строительного контроля АНО "Транспортная дирекция-2018">
        </label></p>
        <p><input type="button" value="Добавить представителя"></p>
      </fieldset>
      <p><input type="button" value="Добавить организацию"></p>
    </fieldset>

  </form>
</div>
